# Core functionality - changes here should be rare!
/src/app.py                   @Ryannn28
/src/backend/database.py      @Ryannn28
/src/backend/routers/auth.py  @Ryannn28

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Ryannn28
